
.boxs-info > div{
  background: rgba(255, 255, 255, 0.1); 
}
/* menu hamburguesa */
.menu-sm{
  position: fixed;
  top: 60px;
  left: 0;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.5s ease-out;
  /* z-index: -1; */
}

/* @media (width < 640px) {
    .menu-sm{
      transform: none;
      background-color: green;
    }
} */

/* <ul className='menu-sm bg-button 
sm:relative sm:top-0 sm:translate-x-0 
sm:w-auto sm:h-auto sm:flex sm:flex-row 
sm:items-center sm:justify-center z-40'> */
/* .menu-md{
  position: relative;
  top: 0;
  transform: translateY(0);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 40;
} */

.menu-sm.active{
  z-index: 100;
  transform: translateY(0);
}

.button-disabled{
  background-color: rgb(221 187 187);
}

.container-category{
  margin: 1.25rem 0;
  padding: 0 20px;
  border-radius: 4px;
}
.container-category .inner-category{
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.underline{
  width: 80%;
  height: 4px;
  background-color: #ef4444;
}

#category{
  padding: 0.5rem;
  background-color: #e4bc2c;
  border: 2px solid #e4bc2c;
  margin-left: 5px;
  transition: 0.2s ease;
}
#category option{
  border-radius: 0;
  font-weight: bold;
  background-color: #2b2c30;
}
#category:hover{
  border: 2px solid #2b2c30;
  background-color: #e4bc2c;
}
#category:hover option{
  color: #f2f2f2;
}
.content-error{
  width: 80%;
  height: 400px;
  border-radius: 4px;
 

  display: grid;
  place-content: center;
}
.content-error h1{
  color: #e4bc2c;
  font-size: clamp(24px, 5vw, 38px);
  font-weight: bold;
  text-align: center;
}

.btn-card{
  background-color: #f2f2f2;
}

.product-pag{
  max-width: 62.5rem;
  min-width: 200px;
}
.add_to_list{
  min-width: 100%;
  max-width: 100px;
}


.content-user{
  /* background: red; */
  padding: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  
}
.content-user .name-user{
  font-size: clamp(22px , 5vw, 42px);
}
.content-user .image{
  display: flex;
  align-items: end;
}
.content-user .image-user{
  width: 200px;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 1rem;
  cursor: pointer;
}
.content-user img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.content-user h2{
  margin: 5px 0;
  font-size: 1rem;
  font-weight: semibold;
 
}

.content-info-user{
  display: flex;
}
.content-op button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  /* min-width: 120px; */
  width: 180px;
  border: none;
  outline: none;
  font-weight: bold;
  text-align: center;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background-color: #333;
  color: #e4bc2c;
}

.content-op button h2{
  margin-left: 0.625rem;
}

@media (width < 520px) {
  .content-op button{
    width: 50px;
    padding: 0;
  }
  .content-op h2{
    display: none;
  }
}

.content-op button.active{
  border-right: 4px solid #e4bc2c;
}
.content-op button.active .icon-scale{
  transform: scale(1.2);

}
.content-op button:hover{
  color: #f2f2f2;
  background-color: #2b2c30;
}
.content-op button:hover 
.icon-scale{
  transition: 0.3s ease;
  transform: scale(1.2);
}
.content-op h2{
  margin: 0 2px;
  font-size:14px;
}

.display-content-info{
  width: 80%;
  /* height: 60vh; */
  margin: 0 5%;
  height:628px;
}

@media (width < 520px){
  .display-content-info{
    margin: 0 10px;
  }
}

@media (width < 490px){
  .display-content-info{
    margin: 0 5px;
  }
}


.grid-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.header {
  background-color: #333;
  /* width: 100px; */
  width: 30%;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin: 4px;
}


.item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  margin: 4px;
  width: 30%;

  /* width: 100px; */
}

.item:nth-child(3n+1) {
  background-color: #f8f8f8;
}
.section-info{
  /* border: 2px solid #333; */
  background-color: #f2f2f2;
}

/* COmponente Pic Perfil */

.actual-pic{
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 4px;
}
.actual-pic img{
  min-width: 100%;
  height: auto;
  object-fit: cover;
}
/* nav nameuser component  */
.user{
  background-color: #333;
}

.modal-info{
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #333;
  width: 60%;
  height: 420px;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 60;
}

.modal-info .content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-info .close-modal{
  position: absolute;
  right: 10px;
  top: -50px;
  cursor: pointer;
}
.modal-info .content-img{
  margin-bottom: 1.5rem;
}
.modal-info .content-info{
  display: grid;
  place-content: center;
  text-align: center;
}
.modal-info .close-modal:hover{
  transition: 0.3s ease-in;
  background-color: #2b2c30;
  color: #ddd;
}
.bg-opacity{
  transition: 0.3s ease;
  position: relative;
}
.bg-opacity::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.733); /* Oscurecimiento */

}
/* .bg-opacity > div{
  opacity: 1;
  transition: opacity 0.3s ease;
} */

/* boton para ver el modal */
.btn-menu{
  background: #333;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  transition: 0.3s ease-in-out;
}

.btn-menu:hover{
  background-color: #e4bc2c;
}

/* caja donde se muestran los productos en el cart */
.cart{
  position: absolute;
  right: 0;
  top: 100%;
  width: 480px;
  background-color: #333;
  padding: 1rem;
  min-height: auto;
  transform: translateX(100%);
  z-index: -1;
  opacity: 0;

}

.active-cart{
  width: 480px;
  position: fixed;
  top: 60px;
  right: 0;
  background-color: #333;
  transform: translateX(0%);
  opacity: 1;
  z-index: 100;
  transition: 500ms ease-in-out;

}


/* ease-[cubic-bezier(0.4, 0, 0.2, 1)] */

