
.color-1{
  background: rgb(186,40,51);

}


.boxs-info > div{
  background: rgba(255, 255, 255, 0.1); 
}
/* menu hamburguesa */
.menu-sm{
  position: fixed;
  top: 60px;
  left: 0;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.5s ease-out;
  /* z-index: -1; */
}



.menu-sm.active{
  z-index: 100;
  transform: translateY(0);
}

.button-disabled{
  background-color: rgb(221 187 187);
}

.container-category{
  margin: 1.25rem auto;
  padding: 0 10px;
  border-radius: 12px;
  display: flex;
  width: auto;
  justify-content: start;
  align-items: center;
}

#category{
  /* padding: 0.5rem; */
  background-color: #f2f2f2;
  border-radius: 12px;
  flex-wrap: wrap;
}
#category button{
  margin: 5px;
  border-radius: 12px;
  font-weight: normal;
  color: #f2f2f2;
  padding: 0.5rem;
  background-color: #c8222f;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s, box-shadow 0.1s;
}

#category button:hover{
  background-color: #f2f2f2;
  color: #c8222f;
}
#category .active{
  transform: translateY(-5px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.active_animation {
  animation-duration: 3s;
  animation-name: up;
  text-align: center;
  color: #c8222f;

}
.animation_inactive{
  animation: none;
  display: none;
}

@keyframes up {
  0% {
		opacity: 1;
		transform: translateY(1px);
	}

	100% {
		opacity: 0;
		transform: translateY(-400px);
	}
}
.add_to_cart_btn:active{
  transform: translateY(5px);
}
.content-error{
  width: 80%;
  height: 400px;
  border-radius: 4px;

  display: grid;
  place-content: center;
}
.content-error h1{
  color: #333;
  font-size: clamp(24px, 5vw, 38px);
  font-weight: bold;
  text-align: center;
}

.btn-card{
  background-color: #f2f2f2;
}

.product-pag{
  max-width: 62.5rem;
  min-width: 200px;
}

.add_to_list{
  min-width: 100%;
  max-width: 100px;
}


.section-dashboard .mail{
  font-weight: 500;
  margin-left: 18px;
}

.content-user{
  /* background: red; */
  padding: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  
}
.content-user .name-user{
  font-size: clamp(22px , 5vw, 42px);
}
.content-user .image{
  display: flex;
  align-items: end;
}
.content-user .image-user{
  width: 200px;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 1rem;
  cursor: pointer;
}
.content-user img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.content-user h2{
  margin: 5px 0;
  font-size: 1rem;
  font-weight: semibold;
 
}

.content-info-user{
  display: flex;
}
.content-op button{
  margin: 5px 0;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  /* min-width: 120px; */
  width: 180px;
  border: none;
  outline: none;
  text-align: center;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.content-op button h2{
  margin-left: 0.625rem;
  font-weight: 400;
  color: rgb(31 41 55);
}
/* .content-op h2{
  margin: 0 2px;
  font-size:14px;
} */

@media (width < 520px) {
  .content-op button{
    width: 50px;
    padding: 0;
  }
  .content-op h2{
    display: none;
  }
}

.content-op button.active{
  background-color: #ccc;
  color: #f2f2f2;
}
.content-op button.active .icon-scale{
  transform: scale(1.2);
  color: #f2f2f2;

}
.content-op button:hover{
  color: #f2f2f2;
  background-color: #6b6c70;
}
.content-op button:hover 
.icon-scale{
  transition: 0.3s ease;
  transform: scale(1.2);
}

.display-content-info{
  width: 100%;
  /* height: 60vh; */
  margin: 0 5%;
  padding: 5px;
  border-radius: 12px;
}

.display-content-info .content-products .prod{
  width: 100%;
  padding: 0.625rem;
  background-color: #f8f8f8;
  border-radius: 12px;
}
.content-products{
  min-height: 400px;
}
.content-products .prod .sub-item{
  color: #6b6c70;
  font-size: 1rem;
}
.content-products .prod .items{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-products .prod .product{
  color: #2b2c30;
  font-weight: bold;
  font-size: 1rem;
}
@media (width < 520px){
  .display-content-info{
    margin: 0 10px;
  }
 
  
}
@media (width > 620px) {
  .display-content-info .content-products{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
  }
  .display-content-info .content-products .prod{
    width: 40%;
    height: 180px;
    padding: 0.625rem;
    background-color: #f2f2f2;
    border-radius: 12px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
}

@media (width < 490px){
  .display-content-info{
    margin: 0 5px;
  }
}


.grid-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 37.5rem;
  margin: 0 auto;
}


.section-info{
  /* border: 2px solid #333; */
  background-color: #ddd;
  padding: 1.25rem;
  border-radius: 12px;
}

/* COmponente Pic Perfil */
.pic-content{
  display:flex;
  justify-content: start;
  align-items: end;
  margin-bottom: 3rem;
}

.actual-pic{
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-left: 1.5rem;
  border-radius: 4px;
}
.actual-pic img{
  min-width: 100%;
  height: auto;
  object-fit: cover;
}

.profile-button {
  background-color: #4CAF50; /* Verde */
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: clamp(0.5rem, 5vw, 1rem);
  margin: 0.625rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.profile-button:hover {
  background-color: #45a049;
}
.button-infoUser{
  margin-top: 3rem;
  padding: 0.625rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 12px;
  background-color: #45a049;
  color: #f2f2f2;
  transition: background-color 0.3s;

}
.button-infoUser:hover{
  background-color: #359b3a;

}
/* nav nameuser component  */
.user{
  background-color: #333;
}

@media (width > 720px){
  .section-info .inputs-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .inputs-user .input-form{
    width: 100%;
  }
}
/* perfil usuario/dashboard */

.modal-info{
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #333;
  width: 60%;
  height: 420px;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 60;
}

.modal-info .content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-info .close-modal{
  position: absolute;
  right: 10px;
  top: -50px;
  cursor: pointer;
}
.modal-info .content-img{
  margin-bottom: 1.5rem;
}
.modal-info .content-info{
  display: grid;
  place-content: center;
  text-align: center;
}
.modal-info .close-modal:hover{
  transition: 0.3s ease-in;
  background-color: #2b2c30;
  color: #ddd;
}
.bg-opacity{
  transition: 0.3s ease;
  position: relative;
}
.bg-opacity::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.733); /* Oscurecimiento */

}
/* .bg-opacity > div{
  opacity: 1;
  transition: opacity 0.3s ease;
} */

/* boton para ver el modal */

/* px-1 py-2  */
.btn-menu{
  background: #f2f2f2;
  /* position: absolute;
  left: 50%;
  transform: translate(-50%); */
  margin-left: 0.625rem;
  transition: 0.3s ease-in-out;
  padding: 0.5rem 0.25rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
}

.btn-menu:hover{
  background-color: #ddd;
}

/* caja donde se muestran los productos en el cart */
.cart{
  position: absolute;
  right: 0;
  top: 100%;
  width: 480px;
  background-color: #333;
  padding: 1rem;
  min-height: auto;
  transform: translateX(100%);
  z-index: -1;
  opacity: 0;

}

.active-cart{
  width: 480px;
  position: fixed;
  top: 60px;
  right: 0;
  border-radius: 12px 0px 0px  12px;
  background-color: #2b2c30;
  transform: translateX(0%);
  opacity: 1;
  z-index: 100;
  transition: 500ms ease-in-out;
  color: #f2f2f2;
}

.active-cart li{
  background-color: #333;
}
/* ease-[cubic-bezier(0.4, 0, 0.2, 1)] */

/* caja del home */
.wrapper-card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
  
.wrapper-card article{
  border-radius: 12px;
  padding: 0.625rem;
  height: 160px;
  background-color: #2b2c30;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeInUp 0.6s ease;

}
.wrapper-card article:nth-child(1) {
  grid-area: 1 / 1 / 6 / 3; 
}
.wrapper-card article:nth-child(2) { 
  grid-area: 1 / 3 / 6 / 5;
}
.wrapper-card article:nth-child(3) {
  grid-area: 1 / 5 / 6 / 7; 

}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.gradient-background {
}


.item-slider{
  height: 26.25rem;
  width: 100%;
  border-radius: 12px;
  margin: 0 8px;
  background: linear-gradient(to right, #c8222f, #232323);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
              0 2px 4px -2px rgb(0 0 0 / 0.1);
  z-index: 60;
  display: flex;
  justify-items: center;
  align-items: center;
  /* flex-direction: column-reverse; */
  padding: 0 1.5rem;
}

.item-slider .box-txt{
  z-index: 50;
  /* width: 50%; */
  width: 50%;
  text-align: center;
  padding: 0.5rem;
}
.item-slider .box-txt .big-text{
  color: #f2f2f2;
  font-weight: 900;
  font-size: 1.25em;
  font-stretch: condensed; 
  /* text-shadow: 4px -1px 2px rgb(250, 245, 245); */
}
.item-slider .box-txt .text-slider{
  font-weight: 500;
  color: #f8f8f8;
  margin: 0.75rem 0;

  display: none;
}
.item-slider .box-txt .btn{
  padding: inherit; 
  width: 100%;
  margin-top: 0.625rem;
  font-weight: 600;
  background-color: #f2f2f2;
  color: #c8222f;
  border-radius: 6px;
}
.item-slider .img-product{
  
  /* width: 320px; */
  /* height: 40vh; */
  height: 20rem;
 
  object-fit: cover;
  
}


.img-product img{
  
  /* transform: translateX(-50%); */
  min-width: 100%;
  object-position: center;
  height: 100%;
  z-index: 20;
}

@media (width > 532) {
  .item-slider{
    flex-direction: column;
  }
}
@media (width > 40em) {
    .item-slider {
      height: 28.75rem;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
    }
    .item-slider .box-txt .big-text{
      font-size: clamp(1.875em, 5vw, 3.125em);
    }
   
    .item-slider .box-txt{
      text-align: start;
    }
    .item-slider .box-txt,
    .item-slider .img-product{
      width: 50%;
    }    
    .item-slider .img-product{
      height: auto;
      position: relative;
    }
    .item-slider .img-product::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: -2;
      width: 50vw;
      height: 50vw;
      background-color: #f2f2f2;
      border-radius: 50%;
    }


    .item-slider .box-txt .btn{
      width: auto;
      margin-top: 2.5rem;
      padding: 0.625rem 2rem;
    }
   
}

@media (width > 43.125em) {

  .item-slider .box-txt .text-slider{

    font-size: 1.75em; 
    line-height: 2.5rem; 
    display: block;

  }
  
}

/* .img-product::before{
  content: '';
  position: absolute;
  top: 150%;
  left: 20%;
  z-index: 1;
  transform: rotate(30deg) translate(-50%,-50%);
  height: 1000px;
  width: 1000px;
  background-color: #2b2c30;
} */
#swiper{
  height: 480px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeInUp 0.6s ease;
}
#swiper-slide{
  height: 280px;
  margin-top: 100px;
}

.form-signIn{
  border: 1px solid #333;
  border-radius: 12px;
  padding: 2rem;
}
@media  (width < 420px){
  .form-signIn{
    padding: 0.625rem;
  }
}
.sign-in{
  background-image: url('../public/images/bg-signin.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-gradient-content{
  background: rgb(46,33,34);
  background: linear-gradient(90deg, rgba(46,33,34,1) 28%, rgba(35,35,35,1) 55%, rgba(51,51,51,1) 82%);
}
.text-signIn{
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  margin: 0;
}
.text-signIn:hover{
  color: #c8222f;
}

/* image-register */
@media (width > 520px) {
    .image-register{
      width: 100%;
      height: 400px;
      
    }
}

#wishList{
  
}
#wishList .h1-wishList{
  font-size: 1.5rem;
  color: red;
  font-weight: 500;
}
#wishList .title-wishList{
  width: 100%;
}
#wishList .underline{
  /* width: 100%; */
  background-color: #333;
  height: 2px;
}
.wishList .content-wishList{
}

.card-wishlist{
  border-radius: 12px;
  background-color: #ccc;
}
.card-wishlist .pic{
  height: 20rem;
}
.card-wishlist .pic img{
  background-size: cover;

}
.header .pic{
  margin: 0 auto;
}

