.swiper {
    width: 100%;
    height: 610px;
    padding: 0;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .sign-in{
    background-image: url('https://img.freepik.com/vector-gratis/fondo-geometrico-plano_23-2148957201.jpg?t=st=1727841051~exp=1727844651~hmac=2c092f6aa116d9845046194779c986b5f42751b4a2ce7741bc06fed6d50f6fa0&w=740');
    background-position: center;
    background-size: cover;
  }